p Sunzora is a platform for contests and distributed social data collation.  We hope that you enjoy using this prototype and give us feedback.  We can be reached at mark.karavan@gmail.com and tlebeda@gmail.com.
