table#topButtons(ng-controller="ContestNavCtrl") 
	tr
		td
			button(ui-sref="contests.list") Back to contests
		td
			button(ng-click="goToDetails()") Details
		td
			button(ng-click="goToJudge()") Judge

hr
h1.title {{contest.title}}

label Enter an entry to this contest:
br
textarea(id="entry" ng-model="content")
br
button(ng-click="submit()") Submit Entry
