table#detailsNav 
	tr
		td
			button(ui-sref="contests.list") Back to list
		td
			//TODO: make this link dynamic
			button(ui-sref="contests.addEntry({id: '1' })") Add New Entry
hr
h1.title {{ contest.title }}

label Description:
div.descriptionBox {{ contest.description }}

table#contestDetails
	tr
		td
			label Your entries
		td
			label Score:
	tr(class="entries" ng-repeat="entry in entries")
		td {{ entry.content }}
		td {{ entry.score }}

