table#topButtons(ng-controller="ContestNavCtrl") 
	tr
		td
			button(ui-sref="contests.list") Back to contests
		td
			button(ng-click="goToAddEntry()") Add New Entry
		td
			button(ng-click="goToJudge()") Judge
hr
h1.title {{ contest.title }}

label Description:
div.descriptionBox {{ contest.description }}

table#contestDetails
	tr
		td
			label Your entries
		td
			label Score:
	tr(class="entries" ng-repeat="entry in entries")
		td {{ entry.content }}
		td {{ entry.score }}