button(class="createContest" ui-sref="contests.create") Create Contest

ul(class="contests" ng-repeat="contest in contests")
	li
		div 
			table
				tr(ng-if="contest.completed == false")
					td.title
						span {{ contest.title }}
						br
						span {{ contest.deadline }}
					td.buttons
						table
							tr
								td
									a(class="details" ui-sref="contests.details({id: '{{contest.id}}' })") Details
								td
									a(class="judge" ui-sref="contests.judge({id: '{{contest.id}}' })") Judge
				tr(ng-if="contest.completed == true")
					td.title
						span {{ contest.title }}
						br
						span {{ contest.deadline }}
					td.buttons
						table
							tr
								td
									a(class="details" ui-sref="contests.results({id: '{{contest.id}}' })") Details
