div(ng-if="canCreate")
	button(class="centerButton" ui-sref="contests.create") Create Contest
	hr

h1.title Active Contests
ul(class="contests" ng-repeat="contest in activeContests")
	li
		div 
			table
				tr
					td.title
						span {{ contest.title }}
						br
						span {{ contest.deadline }}
					td.buttons
						table
							tr
								td
									a(class="details" ui-sref="contests.details({id: '{{contest.id}}' })") Details
								td
									a(class="details" ui-sref="contests.addEntry({id: '{{contest.id}}' })") Add Entry
								td
									a(class="judge" ui-sref="contests.judge({id: '{{contest.id}}' })") Judge
hr
h1.title Completed Contests				
ul(class="contests" ng-repeat="contest in completedContests")
	li
		div 
			table
				tr
					td.title
						span {{ contest.title }}
						br
						span {{ contest.deadline }}
					td.buttons
						button(class="details" ui-sref="contests.results({id: '{{contest.id}}' })") Details
