table
	tr
		td
			button(ui-sref="contests.list") Back to list
		td
			button(ui-sref="contests.create") Add New Entry
hr
h1.title {{ contest.title }}

label Description
p {{ contest.description }}

table
	tr
		td
			label Your entries
		td
			label Score:
	tr(class="entries" ng-repeat="entry in entries")
		td {{ entry.content }}
		td {{ entry.score }}

