button(ui-sref="contests.create") Create Contest

ul(class="contests" ng-repeat="contest in contests")
	li
		div 
			table
				tr
					td.title
						span {{ contest.title }}
						br
						span {{ contest.deadline }}
					td.buttons
						table
							tr
								td
									a(class="details" ui-sref="contests.details({{ contest.id }})") A
								td
									a(class="judge" ui-sref="contests.judge({{ contest.id }})") B
