button(class="centerButton" ui-sref="contests.list") Back to contests
hr

table#createContestContent
	tr 
		td
			label Contest Name
		td
			input(type="text" ng-model="ctitle")
	tr 
		td
			label Contest Description
		td
			textarea(ng-model="description")
	tr 
		td
			label Contest Deadline
		td
			select(ng-model="myMonth" ng-options='month.name for month in months')
			select(ng-model="myDay" ng-options='day.name for day in days')
			select(ng-model="myYear" ng-options='year.name for year in years')
			br
			select(ng-model="myHour" ng-options='hour.name for hour in hours')
			span :
			select(ng-model="myMinute" ng-options='minute.name for minute in minutes')

	tr
		td(colspan="2")
			button(id="submit" ng-click="submit()") Submit
