table#topButtons(ng-controller="ContestNavCtrl") 
	tr
		td
			button(ui-sref="contests.list") Back to contests
		td
			button(ng-click="goToDetails()") Details
		td
			button(ng-click="goToAddEntry()") Add New Entry
hr

h1.title Judging: {{ contest.title }}
h1.title Time Remaining: {{ timeRemaining }}

table#judgeContent
	tr
		td(class="slider")
			button(ng-if="!first" ng-click="slideLeft()") Prev
		td
			div {{ entries[current].title }}
				p(ng-show="last") No more entries to show
		td(class="slider")
			button(ng-if="!last" ng-click="slideRight()") Next
br

table#judgeRating
	tr
		td
			div(class="rateButton" id="1" ng-class="{'red' : entries[current].rating >= 1}" ng-click="rateThis(1)") 1
		td
			div(class="rateButton" id="2" ng-class="{'red' : entries[current].rating >= 2}" ng-click="rateThis(2)") 2
		td
			div(class="rateButton" id="3" ng-class="{'red' : entries[current].rating >= 3}" ng-click="rateThis(3)") 3
		td
			div(class="rateButton" id="4" ng-class="{'red' : entries[current].rating >= 4}" ng-click="rateThis(4)") 4
		td
			div(class="rateButton" id="5" ng-class="{'red' : entries[current].rating >= 5}" ng-click="rateThis(5)") 5
	tr
		td
			div(class="rateButton" id="6" ng-class="{'red' : entries[current].rating >= 6}" ng-click="rateThis(6)") 6
		td
			div(class="rateButton" id="7" ng-class="{'red' : entries[current].rating >= 7}" ng-click="rateThis(7)") 7
		td
			div(class="rateButton" id="8" ng-class="{'red' : entries[current].rating >= 8}" ng-click="rateThis(8)") 8
		td
			div(class="rateButton" id="9" ng-class="{'red' : entries[current].rating >= 9}" ng-click="rateThis(9)") 9
		td
			div(class="rateButton" id="10" ng-class="{'red' : entries[current].rating >= 10}" ng-click="rateThis(10)") 10
