div(class="loginPage")
	header
		h2 Log in to
		img(src="/img/icons/sunzorawhite.png")
	section(class="body")
		button(type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()") Login with Facebook
		button(type="button" class="btn btn-danger btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="logout()") Logout
		div(class="loginForm")
			form(name="login" ng-submit="loginUser")
				table
					tr
						td
							label Email:
						td
							input(type="text" ng-model="email")
					tr
						td
							label Password:
						td
							input(type="password" ng-model="password")
					tr
						td(colspan=2)
							button(ng-click="submit()") Submit
